body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.quiz-container,
.home {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 550px;
}

.quiz-container {
  display: none;
}

h1 {
  font-size: 2em;
}

h1 span {
  color: #2d5be3;
}

#question {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #2c3e50;
}

.choices {
  display: grid;
  gap: 15px;
  margin: 0 20px;
  margin-bottom: 20px;
}

#choice {
  background-color: #3498db;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#choice:hover {
  background-color: #2980b9;
}

/* Style for correct and incorrect choices */
.correct {
  background-color: #2ecc71 !important;
}

.incorrect {
  background-color: #e74c3c !important;
}

/* Style for the navigation buttons */
.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.startButton,
#nextButton,
#restartButton {
  background: transparent;
  color: #2980b9;
  padding: 10px 20px;
  border: 3px solid #2980b9;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-bottom: 10px;
}
.startButton:hover,
#nextButton:hover,
#restartButton:hover {
  background-color: #2980b9;
  color: white;
}

#restartButton {
  display: none;
}

#score {
  margin-top: 20px;
  font-size: 1.4rem;
  color: #1c3349;
}
#instructions {
  color: #1a5177;
  font-weight: 600;
}

.quiz-sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  text-align: center;
}

.quiz-section {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quiz-section:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .quiz-sections {
    grid-template-columns: 1fr;
  }
}
